html{
    line-height: 1.6rem;
    font-family: 'Oswald';
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    margin: 0;
}
.wrapper-app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #F7FAFF;
}
.app {
    height: 500px;
    width: 500px;
}
#time-containner {
    text-align: center;
}
#date-containner {
    text-align: center;
}